


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

    {% load bootstrap3 %}
    {% bootstrap_css %}

</head>
<body>


<script>
var filtname;
var filtvalue;
var temp;
function filt() {
    temp = document.getElementById("all_select");
    filtname = temp.options[temp.selectedIndex].text;
    filtvalue = document.getElementById("input_value").value;
}


$(document).ready(function() {
    $('#table-id').DataTable( {
        "pagingType": "full_numbers",
        "order": [[1, "asc"]],
        "aoColumnDefs": [
           {
               "bSortable": false,
               "aTargets": ["sorting_disabled"]
           }
                        ]
    } );
} );

</script>
<select id="all_select">
    <option id="fil_data">
        data
    </option>
    <option id="fil_name">
        name
    </option>
    <option id="fil_num">
        number
    </option>
    <option id="fil_dist">
        distance
    </option>
</select> <input id="input_value"> <button onclick="filt()" type = "submit">Фильтровать</button>



<table class="table_sort" id="table-id">
    <thead>
    <th class="sorting_disabled">
        data
    </th>
    <th>
         name

    </th>
    <th>

        number
    </th>
    <th>
        distance

    </th>
    </thead>
    <tbody>
{% for tab in table %}
    <tr>
        <td>
    {{ tab.data }}
</td>
        <td>
    {{ tab.name }}
</td>
        <td>
    {{ tab.number }}
</td>
        <td>
    {{ tab.distance }}
</td>
</tr>
    {% endfor %}
    </tbody>
    </table>

</body>
</html>