


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    {% load bootstrap3 %}
    {% bootstrap_css %}

</head>
<body>


<table class="table">
{% for tab in table %}
    <tr>
        <td>
    {{ tab.date }}
</td>
        <td>
    {{ tab.name }}
</td>
        <td>
    {{ tab.number }}
</td>
        <td>
    {{ tab.distance }}
</td>
</tr>
    {% endfor %}
    </table>
<ul id="pagination-flickr">
        <li class="previous-off">«Previous</li>
        <li class="active">1</li>
        <li><a href="?page=2">2</a></li>
        <li><a href="?page=3">3</a></li>
        <li><a href="?page=4">4</a></li>
        <li><a href="?page=5">5</a></li>
        <li><a href="?page=6">6</a></li>
        <li><a href="?page=7">7</a></li>
        <li class="next"><a href="?page=2">Next »</a></li>
</ul>
</body>
</html>