<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

    {% load bootstrap3 %}
    {% bootstrap_css %}

</head>
<body>

<div class="container"
">


<select id="fil_select">
    <option id="fil_data">
        data
    </option>
    <option id="fil_name">
        name
    </option>
    <option id="fil_num">
        number
    </option>
    <option id="fil_dist">
        distance
    </option>
</select>
<select id="all_select">
    <option value="=" id="fil_equals">
        равно
    </option>
    <option value="in" id="fil_contains">
        содержит
    </option>
    <option value=">" id="fil_bigger">
        больше
    </option>
    <option value="<" id="fil_smaller">
        меньше
    </option>
</select><input id="input_value">
<button onclick="filt()" type="submit">Фильтровать</button>


<table class="table_sort" id="table-id">
    <thead>
    <th id="data">
        data
    </th>
    <th id="name" class="to_sort">
        name

    </th>
    <th id="number" class="to_sort">

        number
    </th>
    <th id="distance" class="to_sort">
        distance

    </th>
    </thead>
    <tbody>
    {% for tab in table %}
    <tr>
        <td id="data">
            {{ tab.data }}
        </td>
        <td id="name">
            {{ tab.name }}
        </td>
        <td id="number">
            {{ tab.number }}
        </td>
        <td id="distance">
            {{ tab.distance }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.getElementById('table-id');
        const headers = table.querySelectorAll('.to_sort');
        const tableBody = table.querySelector('tbody');
        const rows = tableBody.querySelectorAll('tr');

        const directions = Array.from(headers).map(function (header) {
            return '';
        });

        const transform = function (index, content) {
            const type = headers[index].getAttribute('data-type');
            switch (type) {
                case 'number':
                    return parseFloat(content);
                case 'string':
                default:
                    return content;
            }
        };

        const sortColumn = function (index) {
            const direction = directions[index] || 'asc';

            const multiplier = (direction === 'asc') ? 1 : -1;

            const newRows = Array.from(rows);

            newRows.sort(function (rowA, rowB) {
                const cellA = rowA.querySelectorAll('td')[index].innerHTML;
                const cellB = rowB.querySelectorAll('td')[index].innerHTML;

                const a = transform(index, cellA);
                const b = transform(index, cellB);

                switch (true) {
                    case a > b:
                        return 1 * multiplier;
                    case a < b:
                        return -1 * multiplier;
                    case a === b:
                        return 0;
                }
            });

            [].forEach.call(rows, function (row) {
                tableBody.removeChild(row);
            });

            directions[index] = direction === 'asc' ? 'desc' : 'asc';

            newRows.forEach(function (newRow) {
                tableBody.appendChild(newRow);
            });
        };

        [].forEach.call(headers, function (header, index) {
            header.addEventListener('click', function () {
                sortColumn(index);
            });
        });
    });
</script>


<script>
    function filt() {
        var temp_fil = document.getElementById("fil_select");
        var column_name = temp_fil.value;
        var temp_equal = document.getElementById("all_select");
        var condition = temp_equal.value;
        var field = document.getElementById("input_value").value;

        const table = document.getElementById('table-id');
        const tableBody = table.querySelector('tbody');
        const rows = tableBody.querySelectorAll('#' + column_name);
        var cel;
        if (column_name == 'data') {
            cel = 0;
        } else if (column_name == 'name') {
            cel = 1;
        } else if (column_name == 'number') {
            cel = 2;
        } else if (column_name == 'distance') {
            cel = 3;
        }
        var flag;
        for (var j = 1; j <= rows.length; j++) {
            flag = false;
            if (isNaN(field) && (condition == 'in')) {
                flag = (table.rows[j].cells[cel].innerHTML.toLowerCase().includes(field.toLowerCase()));
            } else {

                if (condition == '=') {
                    flag = (table.rows[j].cells[cel].innerHTML.toLowerCase() == Number(field));
                } else if (condition == '>') {
                    flag = Number(table.rows[j].cells[cel].innerHTML) > Number(field);
                } else if (condition == '<') {
                    flag = Number(table.rows[j].cells[cel].innerHTML) < Number(field);
                }
            }
            if (flag) {
                table.rows[j].style.display = "";
            } else {
                table.rows[j].style.display = "none";
            }
        }

    }
</script>

<script>
    function addPagerToTables(tables, rowsPerPage = 10) {

        tables =
            typeof tables == "string"
                ? document.querySelectorAll(tables)
                : tables;

        for (let table of tables)
            addPagerToTable(table, rowsPerPage);

    }

    function addPagerToTable(table, rowsPerPage = 10) {

        let tBodyRows = table.querySelectorAll('tBody tr');
        let numPages = Math.ceil(tBodyRows.length / rowsPerPage);

        let colCount =
            [].slice.call(
                table.querySelector('tr').cells
            )
                .reduce((a, b) => a + parseInt(b.colSpan), 0);

        table
            .createTFoot()
            .insertRow()
            .innerHTML = `<td colspan=${colCount}><div class="nav"></div></td>`;

        if (numPages == 1)
            return;

        for (i = 0; i < numPages; i++) {

            let pageNum = i + 1;

            table.querySelector('.nav')
                .insertAdjacentHTML(
                    'beforeend',
                    `<a href="#" rel="${i}">${pageNum}</a> `
                );

        }

        changeToPage(table, 1, rowsPerPage);

        for (let navA of table.querySelectorAll('.nav a'))
            navA.addEventListener(
                'click',
                e => changeToPage(
                    table,
                    parseInt(e.target.innerHTML),
                    rowsPerPage
                )
            );

    }

    function changeToPage(table, page, rowsPerPage) {

        let startItem = (page - 1) * rowsPerPage;
        let endItem = startItem + rowsPerPage;
        let navAs = table.querySelectorAll('.nav a');
        let tBodyRows = table.querySelectorAll('tBody tr');

        for (let nix = 0; nix < navAs.length; nix++) {

            if (nix == page - 1)
                navAs[nix].classList.add('active');
            else
                navAs[nix].classList.remove('active');

            for (let trix = 0; trix < tBodyRows.length; trix++)
                tBodyRows[trix].style.display =
                    (trix >= startItem && trix < endItem)
                        ? 'table-row'
                        : 'none';

        }

    }

    addPagerToTables('#table-id', 10);
</script>


</body>
</html>
